* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    height: 55px;
    width: 375px;
    background-color: #3c3a39;
  }
  
  #bars {
    margin-top: 15px;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 20px;
    height: 3px;
    margin: 3px 0;
    background-color: white;
    margin-right: 20px;
  }
  
  #profileName {
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }

  #greetText {
    position: static;
    width: 327px;
    height: 124px;
    left: 24px;
    top: 110px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    position: absolute;
    width: 375px;
    height: 590px;
    letter-spacing: 0;
    top: 55px;
    background: #1c1a19;
    overflow: hidden; 
  }
  
  #jobTitle {
    position: static;
    width: 327px;
    height: 27px;
    left: 24px;
    top: 256px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0;
  }
  
  #description {
    position: static;
    width: 327px;
    height: 123px;
    left: 24px;
    top: 340px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 12px 0;
  }
  
  .icon {
    position: absolute;
    width: 200px;
    height: 27px;
    left: 30px;
    top: 415px;
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
  }
  
  .fa {
    color: #dbd8d7;
  } 

   /* Style background image of first page */

   #bg-img {
    position: absolute;
    width: 406.89px;
    height: 312.03px;
    left: 120px;
    top: 292px;  
   }
   
   /* style work section */

  .work-section-grid {
    height: 3450px;
    width: 375px;
    position: relative;
    top: 640px;
    left: 0px;
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 785px repeat(6, 410px);
    padding: 120px 24px 120px 24px;
    background-color: #eeeeee;
   }

   #img_01 {
    width: 327px;
    height: 237px;
   }

   .recent-work {
     margin-top: 90px;
   }

#topic {
  position:absolute;
  top: 70px;
  left: 20px;
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1C1A19;
}

hr {
  position: relative;
  top: 35px;
  left: 10px
}
   
#story {
  font-family: "Crete Round", san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
}

#story-text {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
}

/* style the lang links */

.html,.bootstrap,.ruby,.css {
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter' , san;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091E42;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid #8993A4;
}

/* style css link */
.css {
  width: 40px;
  height: 40px;

}

/* html link */
.html {
  width: 56px;
  height: 40px;
}

/* bootstrap link */

.bootstrap {
  width: 95px;
  height: 40px; 
}

/* ruby */

.ruby {
  width: 61px;
  height: 40px; 
}

.project-link {
  width: 280px;
  height: 56px;
  position: relative;
  top: -20px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_1 .project-link p{
  color: #ffffff;
}

.content_1 .project-link {
  width: 250px;
  top: -280px;
  left: 14px;
  
}

.grid-content {
  width: 357px;
  height: 410px;
}

img {
  height: 386px;
  width: 327px;
}

.goto_project {
  position: absolute;
  top: 685px;
  width: 124px;
  height: 48px;
  background: #FF6B00;
  align-items: center;
  padding: 12px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  font-family: 'Inter';
  line-height: 24px;
  font-style: normal;
}

/* style content text and see project button */

.title-post {
  position: relative;
  top: -300px;
  height: 81px;
  width: 295px;
  left: 16px;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.supporting-text {
  position: relative;
  top: -280px;
  height: 87px;
  width: 295px;
  left: 16px;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.content_1 .goto_project {
  width: 327px;
  position: relative;
  top: -270px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-left: 110px;
}

/* About-me Section */
.about_me_grid{
  height: 2831px;
  width: 375px;
    position: relative;
    top: 630px;
    left: 0px;
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 1750px 930px;
    padding: 120px 24px 120px 24px;
    background-color: black;
    overflow: hidden;
}

/* about_img */
.about_me {
  width: 375px;
  height: 1750px;
}

#about_img {
  position: absolute;
  width: 480px;
  height: 200px;
  left: 150px;
  top: 500px;
} 

#about-title {
position: relative;
width: 327px;
height: 56px;
left: 10px;
top: 75px;
font-family: 'Crete Round', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 88px;
letter-spacing: 0.37px;
color: #FF6B00;

}

#get-my-resume {
  width: 200px;
  height: 45px;
  position: relative;
  top: 120px;
  left: 10px;
  padding: 10px;
  background: #FF6B00;
  color: #FFFFFF;
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
font-weight: bold;
line-height: 24px;

}

#about-text{
  position: relative;
width: 289px;
height: 148px;
left: 10px;
top: 110px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #F4F5F7;

}

#about-hr {
  width: 320px;
  height: 0px;
  color: white;
  position: absolute;
  top: 720px;
  left: 24px;

}

.list_lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  width: 375px;
  height:900px;
  left: 120px;
  top: 790px;

}

.list_lang li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 10px;
  font-size: 22px;
  line-height: 50px;
  color: #FFFFFF;
  list-style: none;
  text-align: center;
}

.form_section {
  background-color: #eeeeee;
}

.li-first-child {
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 44px;
}

    


